.main__section {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about-me {
  background-color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-me .about-me__wrapper {
  margin-top: -5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1000px;
}

@media all and (max-width: 900px) {
  #about-me .about-me__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media all and (max-width: 420px) {
  #about-me .about-me__wrapper {
    margin-top: 1em;
    width: 100%;
  }
}

#about-me .about-me__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 90%;
  width: 70%;
  padding: 3em;
}

@media all and (max-width: 900px) {
  #about-me .about-me__text {
    width: 100%;
  }
}

#about-me .about-me__text h1 {
  font-size: 48px;
  font-weight: 700;
  color: white;
  margin-bottom: .7em;
}

#about-me .about-me__text h2 {
  font-size: 23px;
  color: #b8b8b8;
  font-weight: 300;
  margin-bottom: .4em;
  max-width: 35ch;
}

#about-me .about-me__text button {
  cursor: pointer;
  padding: .8em 1.5em;
  border-radius: 30px;
  border: none;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2d5194;
  border: 5px solid #2d5194;
  -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0px 12px rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 21px;
  font-weight: 700;
  -webkit-transition: .25s;
  transition: .25s;
}

#about-me .about-me__text button:hover {
  -webkit-transition: .25s;
  transition: .25s;
  background-color: #252525;
  color: white;
}

@media all and (max-width: 650px) {
  #about-me .about-me__text h1 {
    font-size: 34px;
  }
  #about-me .about-me__text h2 {
    font-size: 17px;
  }
}

@media all and (max-width: 500px) {
  #about-me .about-me__text button {
    display: none;
  }
}

#about-me .about-me__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  width: 30%;
  padding: 2em;
}

#about-me .about-me__picture .picture {
  background-image: url("../../images/kacperkurekzdjecie.jpg");
  min-width: 270px;
  background-position: center;
  background-size: 100%;
  min-height: 270px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.8);
  border: 10px solid #202020;
}

@media all and (max-width: 900px) {
  .about-me__picture {
    margin-top: 10em;
  }
}

@media all and (max-width: 650px) {
  .about-me__picture {
    margin-top: 9em;
    margin-bottom: -1em;
  }
  .about-me__picture .picture {
    max-width: 260px;
    max-height: 260px;
    border: 12px solid #202020;
  }
}

#projects {
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: white;
}

#projects .projects__wrapper {
  margin-top: 4em;
  width: 90%;
  max-width: 1300px;
}

#projects .projects__main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 34px;
  color: #2e2e2e;
  width: 100%;
  margin-bottom: 2em;
}

@media all and (max-width: 650px) {
  #projects .projects__wrapper {
    margin-bottom: -10em;
    width: 90%;
    max-width: 1300px;
  }
}

#contact {
  position: relative;
  background-color: #252525;
  font-family: 'Work Sans', sans-serif !important;
  min-height: 75vh;
}

#contact .contact__title {
  font-size: 48px;
  margin-top: -3.5em;
  color: white;
}

#contact .contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

#contact .contact__items-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.5em;
  padding: 2em 0em;
  width: 100%;
  max-width: 700px;
}

@media all and (max-width: 900px) {
  #contact .contact__items-cnt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#contact .contact__item-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  padding: 1.5em;
  color: white;
  width: 300px;
  max-height: 75px;
  border-radius: 4px;
  font-size: 22px;
  border: 5px solid #2e2e2e;
  -webkit-box-shadow: 0 0px 18px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0px 18px rgba(0, 0, 0, 0.4);
  background-color: #202020;
}

@media all and (max-width: 900px) {
  #contact .contact__item-number {
    margin-right: 0px;
    margin-bottom: 2em;
  }
}

#contact .contact__item-number h1 span {
  margin: 0em .1em;
}

#contact .contact__item-number h1 span:last-child {
  margin-right: .5em;
}

#contact .contact__item-number .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  font-size: 38px;
}

#contact .contact__item-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  max-height: 75px;
  padding: 1.2em;
  color: white;
  font-weight: 400;
  font-size: 13px;
  border-radius: 4px;
  border: 5px solid #2e2e2e;
  -webkit-box-shadow: 0 0px 18px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0px 18px rgba(0, 0, 0, 0.4);
  background-color: #202020;
}

#contact .contact__item-email .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-size: 24px;
}

@media all and (max-width: 650px) {
  #contact .contact__title {
    font-size: 33px;
    margin-top: -1.5em;
    color: white;
  }
}

@media all and (max-width: 430px) {
  #contact {
    min-height: 100vh;
  }
  #contact .contact__title {
    font-size: 22px;
    margin-top: -3.5em;
    color: white;
  }
}
/*# sourceMappingURL=Main.css.map */