@import '../../scss/variables.scss';

.main__section{
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

#about-me{
    position: relative;
    background-color: $main-bg-gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;

    .change-language{
        position: absolute;
        top:150px;
        color: white;
        margin-bottom: 8em;

        span{
            font-size: 18px;

            button{
                text-align: center;
                font-size: 14px;
                cursor: pointer;
                color:gray;
                border:none;
                background-color: $main-bg-gray;
                padding:0em .4em;
                margin:0em .2em;
                transition: .2s;
            
                &:hover{
                    color:white;
                    text-decoration: underline;
                }

                &.active{
                    color:white;
                }
            }
        }
    }

    .about-me__wrapper{
        margin-top:0em;
        display: flex;
        width:90%;
        max-width: 1000px;

        @media all and(max-width:900px){
            flex-direction: column-reverse;
            align-items: center;
            width:100%;
        }

        @media all and(max-width:420px){
            margin-top: 1em;
            width:100%;
        }
    }

    .about-me__text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        min-height: 90%;
        width:70%;
        padding:3em;

        @media all and(max-width:900px){
            width:100%;
        }

        h1{
            font-size: 48px;
            font-weight: 700;
            color:$font-color-white;
            margin-bottom:.7em;    
        }

        h2{
            font-size: 23px;
            color: $font-color-white-light;
            font-weight: 300;
            margin-bottom:.4em;
            max-width: 35ch;
        }

        button{
            cursor: pointer;
            padding:.8em 1.5em;
            border-radius: 30px;
            border:none;
            margin-top: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(45, 81, 148);
            border:5px solid rgb(45, 81, 148);
            box-shadow: 0 0px 12px rgba(0,0,0,.4);
            color:$font-color-white;
            font-size: 21px;
            font-weight: 700;
            transition:.25s;
            
            &:hover{
                transition:.25s;
                background-color: $main-bg-gray;
                color:$font-color-white;
            }
        }

        @media all and(max-width:650px){
            h1{
                font-size: 34px; 
            }
    
            h2{
                font-size: 17px;
            }
        }

        @media all and(max-width:500px){
            button{
                display: none;
            }
        }

        @media all and(max-width:430px){
            
        }
    }

    .about-me__picture{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        width:30%;
        padding:2em;

        .picture{
            background-image: url('../../images/kacperkurekzdjecie.jpg');
            min-width: 270px;
            background-position: center;
            background-size: 100%;
            min-height: 270px;
            border-radius: 50%;
            box-shadow:0 2px 15px rgba(0,0,0,.8);
            border:10px solid $main-bg-gray-dark;
            }
        }
    }

    @media all and(max-width:900px){
        .about-me__picture{
            margin-top:10em;
        }
    }

    @media all and(max-width:650px){

        .about-me__picture{
            margin-top:10em;
            margin-bottom: -1em;
    
            .picture{
                max-width: 260px;
                max-height: 260px;
                border:12px solid $main-bg-gray-dark;
                }
            }
    }


#projects{
    position: relative;
    align-items: flex-start;
    background-color: $main-bg-white;

    .projects__wrapper{
        margin-top: 4em;
        width:90%;
        max-width:1300px;
    }

    .projects__main-title{
        display: flex;
        justify-content: center;
        font-size: 34px;
        color: $font-color-black-light;
        width:100%;
        margin-bottom: 2em;
    }

    @media all and(max-width:650px){
        .projects__wrapper{
            margin-bottom: -10em;
            width:90%;
            max-width:1300px;
        }
    }
}

#contact{
    position: relative;
    background-color: $main-bg-gray;
    font-family: 'Work Sans', sans-serif !important;
    min-height: 75vh;
    
    .contact__title{
        font-size: 48px;
        margin-top: -3.5em;    
        color: $font-color-white;
    }

    .contact__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:90%;
    }

    .contact__items-cnt{
        display: flex;
        justify-content: center;
        margin-top: 2.5em;
        padding:2em 0em;
        width:100%;
        max-width: 700px;

        @media all and(max-width:900px){
            flex-direction: column;
            align-items: center;
        }
    }

    .contact__item-number{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        padding: 1.5em .5em;
        color: $font-color-white;
        max-height: 75px;
        border-radius: 4px;
        font-size: 22px;
        border: 5px solid $font-color-black-light;
        box-shadow: 0 0px 18px rgba(0,0,0,.4);
        background-color: $main-bg-gray-dark;

        @media all and(max-width:900px){
            margin-right:0px;
            margin-bottom: 2em;
        }

        h1{
            span{
                margin:0em .1em;
                
                &:last-child{
                    margin-right:.5em;
                }
            }
        }

        .icon{
            display: flex;
            justify-content: center;
            margin-left:auto;
            font-size: 38px;
        }
    }

    .contact__item-email{
        display: flex;
        justify-content: center;
        align-items: center;
        width:300px;
        max-height: 75px;
        padding: 1.2em;
        color: $font-color-white;
        font-weight: 400;
        font-size: 13px;
        border-radius: 4px;
        border: 5px solid $font-color-black-light;
        box-shadow: 0 0px 18px rgba(0,0,0,.4);
        background-color: $main-bg-gray-dark;

        .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left:auto;
            font-size: 24px;
        }
    }

    @media all and(max-width:650px){

        .contact__title{
            font-size: 33px;
            margin-top: -1.5em;    
            color: $font-color-white;
        }

    }

    @media all and(max-width:430px){
        min-height: 100vh;

        .contact__title{
            font-size: 22px;
            margin-top: -3.5em;    
            color: $font-color-white;
        }
    }


}