*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.app{
  position:relative;
  font-family: 'Work Sans', sans-serif;
  min-height: 100vh;

}

.app__content{
  padding-bottom: 1em;
}


.app__footer{
  position: absolute;
  bottom:0;
  height: 1em;
  width:100%;
}