$font-main:'Rubik', sans-serif;

$font-color-white: white;
$font-color-white-light: #b8b8b8;
$font-color-black: rgb(26, 26, 26);
$font-color-black-light:rgb(46, 46, 46);

$main-bg-gray: #252525;
$main-bg-gray-dark:#202020;

$main-bg-white: white;

 